<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LottieSync</title>
    <script src="../_utils/lottie.js"></script>
    <script src="./config.js"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="lottie-player"></div>
    <script>
      const lottiePlayer = document.getElementById('lottie-player');

      const animation = lottie.loadAnimation({
        container: lottiePlayer,
        renderer: config.lottie.renderer,
        loop: config.lottie.loop,
        autoplay: config.lottie.autoplay,
        path: 'data.json',
      });
    </script>
  </body>
</html>
